html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
    background-color: #bbb;
    cursor: default;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-user-select: none;
}

body {
    overflow: auto;
}

h1 {
    font-weight: 100;
    font-size: 24px;
    cursor: inherit;
    margin: 0;
}

#welcomeScreen {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 800px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -400px;
    z-index: 0;
}

#rawData {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#chart {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#loading {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #bbb;
}

#loading::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    border: 4px solid #888;
    border-radius: 20px;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
    }
}

#loading::after {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    border: 4px solid;
    border-color: #ccc transparent #ccc transparent;
    border-radius: 20px;
    -webkit-animation: loading 0.5s linear infinite;
}
